<nav>
    <img src="/images/logo.svg" alt="logo" height="40" width="40">
    <span><a href="/">Mini Loan App</a></span>
    <button class="sign-btn"><a href="/auth/sign-out">Sign Out</a></button>
</nav>